.drinksContainer {
    width: 800px;
    height: 520px;
    border-radius: 40px;
    background: #4CC9F0;
    border: 5px solid #EC398B;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.75);
    padding: 20px;
    box-sizing: border-box;
    position: relative;
    display: flex;
    justify-content: center;
}

.drinksTitle {
    width: 240px;
    height: 60px;
    background: #9F138A;
    border: 2px solid #3A0CA3;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    font-size: 24px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: -30px;
    left: 60px;
    text-shadow: 0 4px 4px rgba(0,0,0,0.25);
}

.drinksList {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    height: 100%;
    padding-top: 30px;
    box-sizing: border-box;
    justify-content: center;
    align-items: center;
    font-size: 16px;
}

.drinksSubList {
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.drinksCategory {
    display: flex;
    flex-direction: column;
}

.drinkProduct {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 320px;
    height: 40px;
    margin-right: 25px;
}

.subCategory {
    font-size: 24px;
    width: 100%; 
    padding-left: 20px;
    box-sizing: border-box;
    -webkit-text-stroke: 2px #EC398B;
    text-shadow: 0 0 6px #b8145e;
}