@keyframes blinkingNeon {
    0% {
        -webkit-text-stroke: 3px hsl(333, 82%, 57%);
        text-shadow: 0 0 14px #b8145e;
    }

    25% {
        -webkit-text-stroke: 3px hsl(333, 50%, 57%);
        text-shadow: 0 0 2px #b8145e;
    }

    40% {
        -webkit-text-stroke: 3px hsl(333, 62%, 57%);
        text-shadow: 0 0 6px #b8145e;
    }

    60% {
        -webkit-text-stroke: 3px hsl(333, 50%, 57%);
        text-shadow: 0 0 2px #b8145e;
    }

    75% {
        -webkit-text-stroke: 3px hsl(333, 62%, 57%);
        text-shadow: 0 0 6px #b8145e;
    }

    90% {
        -webkit-text-stroke: 3px hsl(333, 82%, 57%);
        text-shadow: 0 0 12px #b8145e;
    }

    100% {
        -webkit-text-stroke: 3px hsl(333, 82%, 57%);
        text-shadow: 0 0 14px #b8145e;
    }
}

.headerContainer {
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 100px;
    padding: 0;
    margin: 0;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
    background: #4CC9F0;
    box-shadow: 0 4px 20px rgba(0,0,0,0.25);
}

.companyInfos {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0 30px;
    box-sizing: border-box;
    flex: 1;
}

.companyName {
    font-size: 40px;
    color: #ffd1e7;
    -webkit-text-stroke: 3px hsl(333, 82%, 57%);
    text-shadow: 0 0 6px #b8145e;
    animation: blinkingNeon 2s ease infinite;
}

.customerBill {
    font-size: 16px;
    color: #ffd1e7;
    -webkit-text-stroke: 1px hsl(333, 82%, 57%);
    text-shadow: 0 0 2px #b8145e;
}

.iconBill {
    color: hsl(333, 82%, 57%);
}

.companyContact {
    color: #EC398B;
    font-size: 14px;
}

.findUs {
    display: none;
}

.colors80 {
    height: 4px;
    width: 100%;
    padding: 0;
    margin: 0;
    background: linear-gradient(to right,
            #EC398B 8%,
            #B5179E 16%,
            #7209B7 24%,
            #560BAD 32%,
            #480CA8 36%,
            #3A0CA3 40%,
            #3F37C9 44%,
            #4361EE 48%,
            #4895EF 52%,
            #4361EE 56%,
            #3F37C9 60%,
            #3A0CA3 64%,
            #480CA8 68%,
            #560BAD 76%,
            #7209B7 84%,
            #B5179E 92%,
            #EC398B 100%);
}

@media screen and (max-width:768px) {
    .address {
        display: none;
    }

    .findUs {
        display: flex;
    }
}